
  <!-- ======= Footer ======= -->
  <footer id="footer">
  

    <div class="container">
      <div class="copyright">
        <div class="social-links">    
          <a href="https://www.facebook.com/%D7%91%D7%99-%D7%A4%D7%AA%D7%A8%D7%95%D7%A0%D7%95%D7%AA-%D7%90%D7%99%D7%A0%D7%98%D7%A8%D7%A0%D7%98-%D7%95%D7%9E%D7%93%D7%99%D7%94-102305654863868/?view_public_for=102305654863868" class="facebook"><i class="fa fa-facebook"></i></a>
        </div>
        &copy; Copyright <strong>BI Web Solutions</strong>. All Rights Reserved
      </div>
      <div class="credits">
      
        Designed by <a href="https://www.bisolutions.co.il">BI Solutions</a>
      </div>
    </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="js/vendor/jquery/jquery.min.js"></script>
  <script src="js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="js/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="js/vendor/counterup/counterup.min.js"></script>
  <script src="js/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="js/vendor/venobox/venobox.min.js"></script>
  <script src="js/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="js/vendor/aos/aos.js"></script>
  

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<script>
    $(function () {
        $(document).scroll(function () {
            var $nav = $("#mainNavbar");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
    });
</script>

</body>
</html>