<!DOCTYPE html>
<html lang="he">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>פתרונות אינטרנט ומדיה - BI</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/favicon.png" rel="icon">
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&display=swap" rel="stylesheet"> 

  <!-- Vendor CSS Files -->
  <link href="js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="js/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="js/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="js/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="js/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="js/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="js/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/‏‏style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-11 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="index.html" class="mr-auto"><img src="images/logofix.png" alt="" class="img-fluid"></a></h1>
         
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li><a href="#contact">צרו קשר</a></li>
              <li class="drop-down"><a href="">מאמרים</a>
                <ul>
                  <li><a href="#">מאמר 1</a></li>
                  <li><a href="#">מאמר 2</a></li>
                  <li><a href="#">מאמר 3</a></li>
                  <li><a href="#">מאמר 4</a></li>
                </ul>
              </li>
              <li><a href="#team">הצוות</a></li>
              <li><a href="#portfolio">דוגמאות</a></li>
              <li><a href="#services">שרותים</a></li>
              <li><a href="#about">אודות</a></li>
              <li class="active"><a href="index.html">בית</a></li>

            </ul>
          </nav><!-- .nav-menu -->
        </div>
      </div>

    </div>
  </header><!-- End Header -->