<%- include("partials/header") %>




  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(images/intro-carousel/4.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">בניית אתרי תדמית ודפי נחיתה</h2>
                <p class="animate__animated animate__fadeInUp">החל מכרטיסי ביקור דיגיטלים ועד לאתרי תדמית מלאים, הכל תוך מתן דגש על חוויות לקוח ונראות יוצאת דופן </p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">הצטרפו אלינו</a>
              </div>
            </div>
          </div>

          <div class="carousel-item " style="background-image: url(images/intro-carousel/1.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">יש מי שדואג לעסק שלך</h2>
                
                <p class="animate__animated animate__fadeInUp">בעידן שבו הכל קורה באינטרנט, נוכחות דיגיטלית משמשת כעורק ראשי להשגת לקוחות חדשים והגדלת ההכנסות לעסק שלך</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">הצטרפו אלינו</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(images/intro-carousel/2.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">תן לנו לעשות את העבודה בשבילך</h2>
                <p class="animate__animated animate__fadeInUp">החל מאפיון ובניית העמוד העסקי ועד לשיווקו לקהל היעד הרלוונטי</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">הצטרפו אלינו</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(images/intro-carousel/3.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">ניהול קמפיינים בכל פלטפורמות הפרסום</h2>
                <p class="animate__animated animate__fadeInUp">פרסום דיגיטלי ברשתות חברתיות, קידום אורגני בגוגל ושאר פלטפורמות הפרסום</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">הצטרפו אלינו</a>
              </div>
            </div>
          </div>

          
        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Intro Section -->

  <main id="main">
   
    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
      <div class="container">
        <div class="row text-center">

          <div class="col-lg-4 box ">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-phone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
              <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <h4 class="title mb-0">תאימות מלאה למובייל</h4>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-speedometer-outline"></i>
            <h4 class="title"><a href="">ביצועים וזמני טעינה מהירים</a></h4>
          </div>

          <div class="col-lg-4 box">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            <h4 class="title"><a href="">עיצוב מקצועי ללא פשרות</a></h4>
          </div>

        </div>
      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>קצת עלינו</h3>
          <p dir="rtl">
            בי קמה על מנת לשמש בית דיגיטלי לעסקים כשהעקרון המוביל הוא הצלחת הלקוח.
            לצורך כך קיבצנו הכל תחת קורת גג אחת, החל מבניית האתר וניהולו, ועד לשיווקו לקהל היעד.
            אנו פועלים מתוך שאיפה לתת ללוקוחות שלנו להנות מראש שקט בכל הקשור לנוכחות הדיגיטלית ברחבי הרשת והרשתות החברתיות, במטרה להעניק ללקוחותינו גדילה במעגל הלקוחות וההכנסות בהתאם.
            ההצלחה שלכם היא ההצלחה שלנו.
            </p>
  
        </header>
        
        <div class="row about-cols" dir="rtl">


          <div class="col-md-4 order-1" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="images/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title">מתחילים בתיאום ציפיות</a></h2>
            <p></p>
            </div>
          </div>  

          <div class="col-md-4 order-2" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col">
              <div class="img">
                <img src="images/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title">ממשיכים בבניית האתר</a></h2>
             <p></p>
            </div>
          </div>

          <div class="col-md-4 order-3" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <img src="images/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><svg width="1.9em" height="1.9em" viewBox="0 0 16 16" style="color: white;" class="bi bi-person-badge mt-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v11.755S4 12 8 12s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                  <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM6 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
                </svg></div>
              </div>
              <h2 class="title">ומסיימים אצל קהל היעד</a></h2>
             <p></p>
            </div>
          </div>
          

          

          

        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">
          <h3>מה בעצם אנחנו מציעים</h3>
          <p>מכלול שלם של אפשרויות להאתמה אופטימלית</p>
        </header>

        <div class="row text-right">

          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="ion-ios-world-outline"></i></div>
            <h4 class="title"><a href="">אפיון והקמת אתרים לפי דרישה</a></h4>
            <p class="description">מיועד לאתרי תוכן וניהול משתמשים רשומים</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">כרטיס ביקור דיגיטלי</a></h4>
            <p class="description">דף אינטרנט סטטי המכיל קישורים ישירים ליצירת קשר ודרכי הגעה</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="ion-laptop"></i></div>
            <h4 class="title"><a href="">הקמת אתר תדמית</a></h4>
            <p class="description ">כולל כתובת דומיין, אחסון, תעודת אבטחה ותיבת דואר אלקטרוני כאופציה </p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="ion-ios-gear-outline"></i></div>
            <h4 class="title"><a href="">ניהול ותחזוקת אתרים</a></h4>
            <p class="description">ניהול ותחזוקה שוטפת של האתר, לרבות עדכונים שבועיים על פי צרכי הלקוח</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">דפי נחיתה</a></h4>
            <p class="description">דפי נחיתה רספונסיבים וממוקדי מטרה</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">PPC & SEO</a></h4>
            <p class="description">ניהול קמפיינים דיגיטלים בגוגל וברשתות החברתיות</p>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container text-center" data-aos="zoom-in">
        <h3 class="text-secondary">צרו קשר עוד היום לקביעת פגישת היכרות</h3>
        <p class="text-secondary"> נשמח לעמוד לרשותכם בכל עת, לשמוע ולייעץ בכל התלבטות בצעדים הראשונים לקראת נוכחות דיגיטלית מרשימה </p>
        <a class="cta-btn " href="#contact">צרו קשר</a>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>טכנולוגיות</h3>
          <p>על מנת להגיע לנראות חסרת פשרות תוך שמירה על ביצועים וזמני טעינה מהירים, כל האתרים נבנים באמצעות פלטפורמות העזר הפופולריות ביותר בעולם הקוד הפתוח</p>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Node.JS <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">HTML <i class="val">90%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">CSS <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">JavaScript <i class="val">80%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar" style="background-color: #7952b3;" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Bootstrap <i class="val">85%</i></span>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Skills Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">אתרים לדוגמה</h3>
        </header>

        <!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class=" col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
         </div>
        </div> -->

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>              
              <img src="images/sites/resturant.png" class="img-fluid portfolio-wrap" alt="website example-resturant">
                <a href="https://bootstrapmade.com/demo/themes/Restaurantly/"  data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h3 class="text-dark">Restaurantly</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="images/sites/barber.PNG" class="img-fluid portfolio-wrap" alt="website example-barberdog">
              <a href="https://www.barberdog.co.il/" class="link-preview" data-gall="portfolioGallery" title="Web 3"><i class="ion ion-eye"></i></a>
            </figure>

            <div class="portfolio-info">
              <h3 class="text-dark">Barberdog</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>              
              <img src="images/sites/e-startup.PNG" class="img-fluid portfolio-wrap" alt="website example-estartup">
                <a href="https://bootstrapmade.com/demo/themes/eStartup/"  data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h3 class="text-dark">eStartup</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>              
              <img src="images/sites/imperial.PNG" class="img-fluid portfolio-wrap" alt="website example-imperial">
                <a href="https://bootstrapmade.com/demo/themes/Imperial/"  data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h3 class="text-dark">Imperial</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>              
              <img src="images/sites/event.PNG" class="img-fluid portfolio-wrap" alt="website example-event">
                <a href="https://bootstrapmade.com/demo/themes/TheEvent/"  data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h3 class="text-dark">TheEvent</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>              
              <img src="images/sites/avilon.PNG" class="img-fluid portfolio-wrap" alt="website example-avilon">
                <a href="https://bootstrapmade.com/demo/themes/Avilon/"  data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h3 class="text-dark">Avilon</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>              
              <img src="images/sites/flexor.PNG" class="img-fluid portfolio-wrap" alt="website example-flexor">
                <a href="https://bootstrapmade.com/demo/themes/Flexor/"  data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h3 class="text-dark">Flexor</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>              
              <img src="images/sites/maxim.PNG" class="img-fluid portfolio-wrap" alt="website example-maxim">
                <a href="https://bootstrapmade.com/demo/themes/Maxim/"  data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h3 class="text-dark">Maxim</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>              
              <img src="images/sites/laura.PNG" class="img-fluid portfolio-wrap" alt="website example-laura">
                <a href="https://bootstrapmade.com/demo/themes/Laura/"  data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h3 class="text-dark">Laura</h3>
            </div>
          </div>
        </div>

      </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>צרו קשר</h3>
          <p>השאירו פרטים ונשמח לחזור אליכם בהקדם לתיאום פגישת היכרות</p>
        </div>

        <div class="row contact-info">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:contact@bisolutions.com">contact@bisolutions.com</a></p>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>

        <div class="form">
          <form action="contact_send" method="POST" role="form" class="php-email-form">
            <div class="form-row">

              <div class="form-group col-md-6">
                <input dir="rtl" type="email" name="email" class="form-control text-right" id="email" placeholder="דואר אלקטרוני" required/>
                <div class="validate"></div>
              </div>

              <div class="form-group col-md-6">
                <input dir="rtl" type="text" class="form-control text-right" name="name" id="name" placeholder="שם פרטי / חברה" minlength="4" required/>
                <div class="validate"></div>
              </div>
            </div>

            <div class="form-group">
              <input fir="rtl" type="text" class="form-control text-right" name="phone" id="phone" placeholder="טלפון ליצירת קשר" minlength="9" required/>
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea dir="rtl" class="form-control text-right" name="message" rows="5" placeholder="הודעה" required></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div dir="rtl" class="sent-message ">תודה רבה, ההודעה נשלחה ניצור אתכם קשר בהקדם!</div>
            </div>
            <div class="text-center"><button type="submit">שלח/י</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



<%- include("partials/footer") %> 